<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HumanDecisionSupportSystemsLaboratory.DDP2P"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SafeProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AddSafe"
            android:label="@string/app_name"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AddOrg"
            android:label="@string/app_name"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AddJustification"
            android:label="@string/app_name"
            android:parentActivityName=".MotionDetail"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AddMotion"
            android:label="@string/app_name"
            android:parentActivityName=".Motion"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AddDirectoryServer"
            android:label="@string/app_name"
            android:parentActivityName=".Motion"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AddNews"
            android:label="@string/app_name"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Chat"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".OrgDetail"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Motion"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SelectDirectoryServer"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MotionDetail"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Constituent"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ConstituentFurtherLayer"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".News"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".OrgSetCategoryName"
            android:label="@string/app_name"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".OrgProfile"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Neighbourhood"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".NewNeighborhood"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".NewConstituent"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Witness"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ViewVotes"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <receiver
            android:name=".Chat$MyBroadCastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.HumanDecisionSupportSystemsLaboratory.DDP2P.broadcast.CHAT_RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>